.main {
  display: flex;
  justify-content: space-between;
  min-height: 80dvh;
}

.main .main__aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background: var(--main-color);
  border-radius: 10px;
}
