.main .main__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1rem 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 69%;
  overflow: hidden;
}
