@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2a475e;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #171a21;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #171a21;
  --blue-light: #66c0f4;
  --blue-opaque: #1b2838;
  --blue-opaque: #2a475e;
  --gray-opaque: #c7d5e0;
  color: white;
}

.header,
.main,
.footer {
  width: 100%;
  margin: 0;
  margin-block: 10px;
}
